@model Estacionamento.Models.VagaEstacionamento

@{
    ViewData["Title"] = "Deletar Vaga";
}

<div class="text-center">
    <h1 class="display-4">Tem certeza que deseja excluir a Vaga #@Model.NumeroVaga?</h1>
    <p>Essa ação não poderá ser desfeita.</p>

    <form asp-action="DeleteConfirm" method="post">
        <input type="hidden" name="id" value="@Model.Id" />


        <button type="submit" class="btn btn-danger">Deletar</button>
        <a href="@Url.Action("Index", "Vagas")" class="btn btn-secondary">Cancelar</a>
    </form>

</div>

