@using Estacionamento.Models
@model IEnumerable<VagaEstacionamento>
@{
    ViewData["Title"] = "Vagas Disponíveis";
}

<div class="text-center">
    <h3 class="display-4">Bem-vindo a Vaga Online!</h3>
    
</div>


<div class="container mt-5">
    <h1 class="mb-4 text-center">Lista de Vagas Disponiveis</h1>

</div>


<table class="table">
    <thead>
        <tr>
            <th>Vagas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vaga in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Cadastro","Vagas", new{id = vaga.Id})">Vaga #@vaga.NumeroVaga</a>
                </td>
            </tr>
        }
    </tbody>
</table>





