@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Vaga Online</strong> coleta, usa, armazena e protege
    as informações pessoais dos usuários que utilizam nosso site 
    e aplicativo de estacionamento online. O <strong>Vaga Online</strong> se compromete
    respeitar a privacidade e a segurança de seus dados, em conformidade com a 
    Lei Geral de Proteção de Dados (LGPD – Lei nº 13.709/2018).</p>
